version: 2
jobs:
  build:
    working_directory: ~/redux-async
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - restore_cache:
          key: npm-cache-v1-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm ci
      - save_cache:
          key: npm-cache-v1-{{ checksum "package-lock.json" }}
          paths:
            - /home/circleci/.npm
      - run:
          name: Run Tests
          command: npm test
workflows:
  version: 2
  build:
    jobs:
      - build:
          branches:
            ignore:
              - gh-pages
