/* MainScreen */
.filterArea {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 30px 25px;
}

.filtersRow {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}

.buttonsRow {
  margin-top: 10px;
}

.filterSelect {
  width: 300px;
  margin-right: 10px;
  margin-top: 5px;
}

.exportBtn {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

#presentation {
  max-width: 70vw;
  padding: 0 30px;
}

.exportButtonsContainer {
  margin-left: 30px;
}

@media (max-width: 1116px) {
  .filterArea {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
  }

  .filterSelect {
    margin-bottom: 10px;
  }

  #presentation {
    max-width: 100vw;
  }
}
