/* MainScreen */
.filterArea {
  display: flex;
  margin: 30px 30px 30px 25px;
}

.filterSelect {
  width: 300px;
  margin-right: 10px;
}

.exportBtn {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 720px) {
  .filterArea {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
  }

  .filterSelect {
    margin-bottom: 10px;
  }
}