/* Results */
.divider {
	position: relative;
	margin: 30px 0 20px 0;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after,
.div-arrow-up:after {
	content: "";
	position: absolute;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-transparent.dark:before {
	background-image: linear-gradient(to right, transparent, white, transparent);
}

.div-arrow-down.dark:after,
.div-arrow-up.dark:after {
	background-color: #363636;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}


.div-arrow-down:after {
  transform: rotate(45deg);
}

.div-arrow-up:after {
  transform: rotate(225deg);
}

.resultContainer {
  display: flex;
  flex-wrap: wrap;
}

.resultLeft {
  flex: 2;
}

.resultRight {
  flex: 1;
}

.resultMainDiv {
  padding: 30px 30px 30px 30px;
  background-color: #FFF;
  border-radius: 2px;
  margin: 20px 30px;
  -webkit-box-shadow: 1px -2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px -2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px -2px 5px 0px rgba(0,0,0,0.5);
}

.resultMainDiv.dark {
  background-color: #363636;
}

.characterInfos {
  display: flex;
  justify-content: space-between;
}

.resultRow {
  display: flex;
}

.resultRow.powers {
  flex-direction: column;
  margin: 10px 0;
}

.stats {
  display: flex;
  justify-content: flex-end;
}

.attributesRow {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.attributeItem {
  border: 2px solid black;
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attributeItem .value {
  font-size: 30px;
}
.attributeItem .mod {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: -15px;
  background-color: white;
}

.attributeItem.dark {
  border: 2px solid white;
}

.attributeItem.dark .mod {
  border: 1px solid white;
  background-color: #363636;
}

.resultRow.nameArea {
  display: flex;
  align-items: center;
}

.resultItem {
  margin-right: 5px;
}

.resultItem.name {
  font-size: 32px;
}

.resultItem.className,
.resultItem.originName {
  font-weight: 550;
}

.condense {
  display: flex;
}

.condense .resultRow{
  margin-right: 50px;
}

.characterStat {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
  height: 80px;
  flex-direction: column;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.characterStat.dark {
  border: 1px solid white;
}

.characterStat .name {
  font-weight: bold;
  margin-top: 5px;
}

.characterStat .name.movement{
  font-size: 8px;
  margin-top: 10px
}

.characterStat .value {
  margin-top: 10px;
  font-size: 20px;
}

.characterStat .value.movement {
  margin-top: 15px;
}

.sectionTitle{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0;
}

table {
  width: 100%;
  text-align: left;
}

.tableWrap {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0px;
}

.tableWrap.dark {
  border: 1px solid white;
}

.textToRight {
  text-align: right;
}

.textToCenter {
  text-align: center;
}

.noDefensiveItem {
  padding-top: 10px;
}

.equipmentsValues span {
  padding: 0 15px;
}

.powersNameRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

:focus {
  /* outline: grey auto 0.5px; */
  outline: none;
}

.powerIcon {
  transition: all 0.2s ease !important;
}

.powerIcon.down {
  transform: rotateZ(90deg);
}

.spellCalc {
  font-size: 12px;
}

.speelsInfos {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 20px;
}

.tableMobile {
  display: none;
}

.spellMobile {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
}

.spellMobile .spellName{
  font-size: 22px;
  margin-bottom: 5px;
}

.periciasDiv {
  -moz-column-count: 3;
  -moz-column-gap: 50px;
  -webkit-column-count: 3;
  -webkit-column-gap: 50px;
  column-count: 3;
  column-gap: 50px;
  padding: 0;
  padding-left: 20px;
  margin: 0;
}

.stepAttrList {
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
}

@media screen and (max-width: 720px) {
  .resultMainDiv {
    width: inherit;
    padding: 5px 20px 20px 20px;
    margin: 10px 0;
  }

  .resultContainer {
    width: 100vw;
    justify-content: center;
  }

  .resultRight {
    width: 100vw;
    margin-left: 10px;
  }

  .resultRow {
    flex-wrap: wrap;
  }

  .attributesRow {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .attributeItem {
    margin: 10px 5px
  }

  .condense {
    flex-wrap: wrap;
  }

  .tableWrap {
    font-size: 10px;
  }

  .stats {
    flex-wrap: wrap;
  }

  .characterStat {
    width: 70px;
    height: 70px;
  }

  .characterStat .name{
    font-size: 12px;
    margin-top: 2px;
  }
  
  .characterStat .name.movement{
    font-size: 8px;
    margin-top: 5px
  }
  
  .characterStat .value {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .characterStat .value.movement {
    margin-top: 10px;
  }

  .tableDesk {
    display: none;
  }

  .tableMobile {
    display: block;
  }

  .speelsInfos {
    flex-direction: column;
    padding: 0;
  }
  .periciasDiv {
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
    column-count: 2;
    column-gap: 50px;
    }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1024px){
  .resultContainer {
    width: 100vw;
  }

  .tableDesk {
    display: none;
  }

  .tableMobile {
    display: block;
  }

  .resultLeft {
    width: 100vw;
  }

  .resultRight {
    width: 100vw;
  }
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    background-color: #FFF;
  }
}

@media print {
  .divider {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
  .div-transparent.dark:before {
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
  }
  
  .div-arrow-down.dark:after,
  .div-arrow-up.dark:after {
    background-color: white;
    border-bottom: 1px solid rgb(48,49,51);
    border-right: 1px solid rgb(48,49,51);
  }

  .resultMainDiv {
    background-color: #FFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .resultMainDiv.dark {
    background-color: #FFF !important;
  }

  .attributeItem.dark {
    border: 2px solid black;
  }

  .attributeItem.dark .mod {
    border: 1px solid black;
    background-color: white;
  }

  .characterStat.dark {
    border: 1px solid black;
  }

  .tableWrap.dark {
    border: 1px solid black;
  }

  .spellsArea,
  .powersArea {
    page-break-before: always;
  }
}