/* Results */
.divider {
	position: relative;
	margin: 30px 0 20px 0;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after,
.div-arrow-up:after {
	content: "";
	position: absolute;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-arrow-down:after {
  transform: rotate(45deg);
}

.div-arrow-up:after {
  transform: rotate(225deg);
}

.resultContainer {
  width: 60vw;
}

.resultMainDiv {
  padding: 5px 30px 30px 30px;
}

.characterInfos {
  display: flex;
  justify-content: space-between;
}

.resultRow {
  display: flex;
}

.resultRow.powers {
  flex-direction: column;
  margin: 10px 0;
}

.stats {
  display: flex;
  justify-content: flex-end;
}

.attributesRow {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.attributeItem {
  border: 2px solid black;
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attributeItem .value {
  font-size: 30px;
}
.attributeItem .mod {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: -15px;
  background-color: white;
}

.resultRow.nameArea {
  display: flex;
  align-items: center;
}

.resultItem {
  margin-right: 5px;
}

.resultItem.name {
  font-size: 32px;
}

.resultItem.className,
.resultItem.originName {
  font-weight: 550;
}

.condense {
  display: flex;
}

.condense .resultRow{
  margin-right: 50px;
}

.characterStat {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
  height: 80px;
  flex-direction: column;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.characterStat .name {
  font-weight: bold;
  margin-top: 5px;
}

.characterStat .name.movement{
  font-size: 8px;
  margin-top: 10px
}

.characterStat .value {
  margin-top: 10px;
  font-size: 20px;
}

.characterStat .value.movement {
  margin-top: 15px;
}

.sectionTitle{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0;
}

table {
  width: 100%;
  text-align: left;
}

.tableWrap {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0px;
}

.textToRight {
  text-align: right;
}

.textToCenter {
  text-align: center;
}

.noDefensiveItem {
  padding-top: 10px;
}

.equipmentsValues span {
  padding: 0 15px;
}

.powersNameRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

:focus {
  /* outline: grey auto 0.5px; */
  outline: none;
}

.powerIcon {
  transition: all 0.2s ease !important;
}

.powerIcon.down {
  transform: rotateZ(90deg);
}

.spellCalc {
  font-size: 12px;
}

.speelsInfos {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 20px;
}

.test {
  padding: 50px 10px;
}

@media screen and (max-width: 720px) {
  .resultMainDiv {
    width: inherit;
    padding: 5px 20px 20px 20px;
  }

  .resultContainer {
    width: 90vw;
  }

  .resultRow {
    flex-wrap: wrap;
  }


  .attributesRow {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .attributeItem {
    margin: 10px 5px
  }

  .condense {
    flex-wrap: wrap;
  }

  .tableWrap {
    font-size: 10px;
  }

  .stats {
    flex-wrap: wrap;
  }

  .characterStat {
    width: 70px;
    height: 70px;
  }

  .characterStat .name{
    font-size: 12px;
    margin-top: 2px;
  }
  
  .characterStat .name.movement{
    font-size: 8px;
    margin-top: 5px
  }
  
  .characterStat .value {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .characterStat .value.movement {
    margin-top: 10px;
  }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1024px){
  .resultContainer {
    width: 90vw;
  }
}