/* General CSS */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Sidebar */
.sidebar {
  position: fixed;
  background: rgba(0,0,0,0.95);
  top: 0;
  width: 300px;
  height: 97.9vh;
  z-index: 1;
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
  color: #FAFAFA;
  padding-top: 20px;
}

.specialMenu:hover {
  text-decoration: underline;
}

.sidebarHeader{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.logo {
  width: 30px;
  margin-right: 10px;
}

/* MainScreen */
.filterArea {
  display: flex;
  margin: 30px 30px 30px 25px;
}

.filterSelect {
  width: 300px;
  margin-right: 10px;
}

@media (max-width: 720px) {
  .filterArea {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .filterSelect {
    margin-bottom: 10px;
  }
}

/* Results */
.resultMainDiv {
  width: 60vw;
  padding: 5px 30px 30px 30px;
}

.resultRow {
  display: flex;
  border-top: 1px solid black;
  padding: 5px 0;
}

.resultItem {
  margin-right: 10px;
}

@media (max-width: 720px) {
  .resultMainDiv {
    width: calc(85vw);
  }

  .resultRow {
    flex-wrap: wrap;
  }
}